<div class="flex flex-col py-5 px-10 w-full h-[200px] shadow-md sm:rounded-lg">

  <div class="sm:px-0 pb-4">
    <p class="max-w-2xl text-sm text-gray-500">Device Information</p>
  </div>

  <div class="p-1 flex items-center">
    <div class="h-28">
      <a href="#">
        <!-- <img class="mx-auto h-full dark:hidden" src="https://macstoreonline.com.mx/img/cx/media/all-products/mac/Mac_Studio_M4.webp" alt="" /> -->
        <img class="mx-auto h-full dark:hidden" src="https://macstoreonline.com.mx/img/cx/media/all-products/mac/MacBook_Pro_M3_16.webp" alt="" />

      </a>
    </div>
    <div *ngIf="order" class="flex-grow pl-10">

      <h2 class="text-gray-900 text-base title-font font-medium">{{order.description}}</h2>
      <p class="text-gray-600 leading-relaxed text-sm">{{order.serial}}</p>
      <p class="text-gray-600 leading-relaxed text-sm">{{order.coverage}}</p>
    </div>

  </div>

</div>
