

<div class="flex flex-col mt-5 mx-20 max-w-screen-2xl">
  <shared-header/>
  <div class="flex flex-col mb-10 sm:px-0">
    <p class="text-2xl font-semibold text-gray-900 ml-auto">Order #{{order.id}}</p>
    <p class="text-sm/6 text-gray-500 mb-2 ml-auto">Received at: {{ order.createdDate | date:'dd/MM/yy hh:mma':'-1200'}}
    </p>
    <button (click)="getPdf()" type="button"
      class="flex rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ml-auto">
      <svg class="w-[24px] h-[24px] text-white-800 dark:text-white" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"
          d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01" />
      </svg>


      <span class="pl-2 pt-0.5">
        Download Pdf
      </span>
    </button>

  </div>

  <div class="flex justify-between">

    <!-- Device info -->
    <device-card/>

     <!-- Client info -->
    <client-card/>

  </div>


  <quote/>



</div>
