<div class="border-gray-200 border-r text-center h-screen">
  <nav class="flex flex-col gap-y-6">
      <a [routerLink]="['/orders']" routerLinkActive="router-link-active" class="font-medium text-gray-600">
        Orders
      </a>
      <a [routerLink]="['/orders']" routerLinkActive="router-link-active" class="font-medium text-gray-600">
        Orders
      </a>
      <a [routerLink]="['/orders']" routerLinkActive="router-link-active" class="font-medium text-gray-600">
        Orders
      </a>
      <a [routerLink]="['/orders']" routerLinkActive="router-link-active" class="font-medium text-gray-600">
        Orders
      </a>
  </nav>
</div>
