<div class="h-auto">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)" class="mx-auto mt-16 max-w-xl sm:mt-20">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 pb-2">
      <p class="font-bold text-sky-900">Device</p>
    </div>
    <label for="serial" class="block text-sm font-semibold leading-6 text-gray-900">Serial</label>
    <input id="serial" type="text" formControlName="serial" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    <label for="description" class="block text-sm font-semibold leading-6 text-gray-900">Description</label>
    <input id="description" type="text" formControlName="description" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    <label for="coverage" class="block text-sm font-semibold leading-6 text-gray-900">Coverage</label>
    <input id="coverage" type="text" formControlName="coverage" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    <label for="vmi" class="block text-sm font-semibold leading-6 text-gray-900">VMI</label>
    <textarea id="vmi" type="text" formControlName="vmi" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
    <label for="fail" class="block text-sm font-semibold leading-6 text-gray-900">Fail</label>
    <textarea id="fail" type="text" formControlName="fail" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>

    <div class="mt-10">
      <p>Complete the form to enable button.</p>
    <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Crear Orden</button>
    </div>

  </form>

</div>
